@import url(https://fonts.google.com/specimen/Momo+Trust+Display);

body{
    margin: 0;
    padding: 0 ;
    color: black; background-color: #ab9bc4; font-family: 'Courier New', Courier, monospace;
}
